{% extends 'layout.html' %}

{% block title %}
    TurView
{% endblock %}

{% block body %}
    <div class="bg-info clearfix" style="background-color: #FFFFFF;">
        <a href="/"><img src="../static/TurView-logo.png" alt="logo" class="float-start history_logo"></a>
        <form>
            <input type="submit" value="restart" class="float-end history_logo">
        </form>
    </div>
    <div>
        <!--display bot here-->
        bot placeholer
    </div>
    <div>
        <form style="margin-top: 50px;">
            <input type="file" name="cv" value="Upload your CV">
        </form>
    </div>
{% endblock %}