{% extends 'layout.html' %}

{% block title %}
    TurView
{% endblock %}

{% block body %}
    <script>
        document.getElementById('recordButton').addEventListener('click', function() {
            if (this.textContent === 'Record') {
                // Start recording logic
                this.textContent = 'Stop';
            } else {
                // Stop recording logic
                this.textContent = 'Record';
            }
        });

        // Function to update the image and question dynamically
        function updateInterviewState(imageNum, questionText) {
            switch(imageNum) {
                case 1:
                    imageSrc = 'TurView/static/TurView_Bot_Listening.png';
                    break;
                case 2:
                    imageSrc = 'TurView/static/TurView_Bot_Speaking1.png';
                    break;
                case 3:
                    imageSrc = 'TurView/static/TurView_Bot_Speaking2.png';
                    break;
                case 4:
                    imageSrc = 'TurView/static/Loading.gif';
                    break;
                default:
                    imageSrc = 'TurView/static/TurView_Bot_Greeting.png';
            }
            
            document.getElementById('dynamicImage').src = imageSrc;
            document.getElementById('currentQuestion').textContent = questionText;
        }

        // Function to fetch updates from the server using AJAX framework
        async function fetchUpdate() {
            fetch('/update_state', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                updateInterviewState(data.image_num, data.question_text);
            })
            .catch(error => console.error('Error:', error));
        }

        // Add event listener to the update button
        document.getElementById('updateButton').addEventListener('click', fetchUpdate);
    </script>
    <div>
    <a href="/"><img src="../static/TurView-logo.png" alt="logo" class="history_logo"></a>
    </div>

    <div class="bot-container">
        <img id="dynamicImage" src="../static/TurView_Bot_Greeting.png" alt="bot">
    </div>

    <div class="container">
        <h6>Current Question: <span id="currentQuestion">{{ question }}</span></h6>
    </div>
    
    <div>
        <button class="icon-button" id="recordButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-record-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            </svg>
          </button>          
        <div id="transcription"></div>
    </div>
{% endblock %}